<template>
  <v-card flat>
    <v-layout>
      <v-app-bar
        color="teal-darken-4"
        image="https://picsum.photos/1920/1080?random"
        prominent
      >
        <template v-slot:image>
          <v-img
            gradient="to top right, rgba(19,84,122,.8), rgba(128,208,199,.8)"
          ></v-img>
        </template>

        <template v-slot:prepend>
         
          <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

        </template>

        <v-app-bar-title>ToDo Vuetify</v-app-bar-title>

        <v-spacer></v-spacer>

        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </v-app-bar>

      
      <v-navigation-drawer
        v-model="drawer"
    
        temporary
      >
      <v-list>
          <v-list-item
            prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
            subtitle="sandra_a88@gmailcom"
            title="Sandra Adams"
          ></v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list density="compact" nav>
          <v-list-item 
              v-for="item in items" 
              :key="item.value"
              :prepend-icon="item.icon" 
              :title="item.title" 
              :value="item.value"
              :to="item.to"
            />
        </v-list>
      </v-navigation-drawer>

      <v-main>
        <router-view></router-view>
      </v-main>
    </v-layout>
  </v-card>
</template>
<script>
  export default {
    data: () => ({drawer: false,
    items: [
      { icon: 'mdi-format-list-checks', title: 'My Tasks', value: 'myfiles', to: '/' },
      { icon: 'mdi-account-multiple', title: 'About', value: 'about', to: '/about'  },
    ]
  }),

    watch: {
      group () {
        this.drawer = false
      },
    },
  }
</script>