<template>
  <div class="task">
    <v-text-field
      v-model="newTaskTitle"
      hint="For example, Buy flowers or Do exercise"
      label="Add Task"
      aria-label="New Task Input"
      :rules="[validationRules]"
      variant="solo"
      append-inner-icon="mdi-plus"
      class="flex-1-1-100 ma-2 pa-2"
      clearable
      @click:append-inner="addTasks"
      @keyup.enter="addTasks"
    ></v-text-field>
    <!-- Button to clear all tasks, only shown if there are tasks -->
    <v-btn
      v-if="tasks.length > 0"
      color="red lighten-1"
      class="ml-5"
      @click="clearAllTasks"
      role="button"
      aria-label="Clear All Tasks"
    >
      Clear All Tasks
    </v-btn>
    <v-list lines="three" select-strategy="classic">
      <div v-for="task in tasks" :key="task.id" class="pt-0 task-item">
        <v-list-item @click="toggleTask(task.id)">
          <template v-slot:prepend>
            <v-list-item-action start>
              <v-checkbox-btn v-model="task.isCompleted"></v-checkbox-btn>
            </v-list-item-action>
          </template>

          <v-list-item-title
            :class="{ 'text-decoration-line-through': task.isCompleted }"
            >{{ task.title }}</v-list-item-title
          >
          <template v-slot:append>
            <v-btn
              color="red"
              icon="mdi-trash-can"
              variant="text"
              aria-label="Delete task"
              @keyup.enter.stop="deleteTask(task.id)"
              @click.stop="deleteTask(task.id)"
            ></v-btn>
          </template>
        </v-list-item>
        <v-divider />
      </div>
      <!-- Conditionally display end of list text or no tasks message -->
      <div v-if="tasks.length > 0" class="text-center pa-4">
        -- This is the end of the list --
      </div>
      <div v-else class="text-center pa-4 no-task-message">
        <v-icon large color="info">mdi-check-outline</v-icon> No tasks in the
        list
      </div>
    </v-list>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

interface Task {
  id: number;
  title: string;
  isCompleted: boolean;
}

export default defineComponent({
  data: () => ({
    tasks: [
      { id: 1, title: "Drink Water 15 times", isCompleted: true },
      { id: 2, title: "Get groceries", isCompleted: false },
      { id: 3, title: "Cook", isCompleted: false },
      { id: 4, title: "Do self study", isCompleted: false },
      { id: 5, title: "Work on assignmnet", isCompleted: false },
    ] as Task[],
    newTaskTitle: "" as string,
  }),
  methods: {
    toggleTask(id: number): void {
      const index = this.tasks.findIndex((task: Task) => task.id === id);
      if (index !== -1) {
        this.tasks[index].isCompleted = !this.tasks[index].isCompleted;
      }
    },
    deleteTask(id: number): void {
      const index = this.tasks.findIndex((task: Task) => task.id === id);
      if (index !== -1) {
        this.tasks.splice(index, 1);
      }
    },
    addTasks(): void {
      if (this.newTaskTitle && this.newTaskTitle.trim()) {
        this.tasks.push({
          id: this.tasks.length + 1,
          title: this.newTaskTitle,
          isCompleted: false,
        });
        this.newTaskTitle = "";
      } else {
        console.error("Input is empty or null");
      }
    },
    clearAllTasks(): void {
      this.tasks = [];
    },
    validationRules(): string | boolean {
      return (
        (this.newTaskTitle && this.newTaskTitle.trim() !== "") ||
        "Task description cannot be empty"
      );
    },
  },
});
</script>
