<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12" md="8">
        <h1>About This Application</h1>
        <v-divider></v-divider>
        <p>
          This ToDo application helps users manage their daily tasks efficiently
          with a simple and intuitive interface. Designed to boost productivity,
          our app allows you to add, remove, and mark tasks as completed with ease.
        </p>
        <p>
          Built with Vue.js and Vuetify, the app showcases modern web application
          practices and responsive design, ensuring a seamless experience across
          all devices.
        </p>
        <h2>Our Mission</h2>
        <p>
          Our mission is to make day-to-day task management as straightforward
          and accessible as possible. We aim to provide our users with a tool
          that truly enhances their organization and productivity without any
          unnecessary complexity.
        </p>
        <h2>Contact Us</h2>
        <p>
          Have questions or feedback? Reach out to us at:
          <a href="mailto:support@example.com">support@example.com</a>
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'AboutView'
};
</script>

<style scoped>
h1, h2 {
  margin-bottom: 15px;
}
p {
  margin-bottom: 20px;
}
a {
  color: #1976D2;
}
</style>
