<template>
    <v-container>
      <h1>Welcome to the Home Page</h1>
      <p>This is a simple ToDo application to manage your daily tasks.</p>
      <task-list></task-list>
    </v-container>
  </template>
  
  <script>
  import TaskList from '../components/TaskList.vue';

  export default {
    components: {
      TaskList  
    }
  };
  </script>
  
  <style scoped>
  /* Styles specific to the HomeView */
  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  </style>
  